$theme-light-text-color: #fff;
$theme-light-links-color: #222;
$theme-dark-text-color: #fff;
$theme-dark-links-color: #ddd;
$icon-font-path:"../fonts/";
$fonts-path:"../fonts/";
$icon-font-name:"glyphicons-halflings-regular";
$icon-font-svg-id:"glyphicons_halflingsregular";

$franklin-gothic-demi: "FranklinGothic-Demi-webfont";
$franklin-gothic-demi-svg: "FranklinGothic_Demi";

$franklin-gothic-book: "FranklinGothic-Book-webfont";
$franklin-gothic-book-svg: "FranklinGothic_Book";
