<article id="main-content">
  
  <!-- Background element -->
  <div class="background-img" ng-include src="'modules/mod-background/background.tpl.html'"></div>

  <div class="grid-container">
    
    <div class="content">
      
      <!-- Header -->
      <header class="clearfix" ng-include src="'modules/mod-header/header.tpl.html'"></header>

      <main id="main">
        
        <!-- Single Page -->
        <div ng-if="!pageObj.landingPage && !pageObj.loginPage && !pageObj.registerPage">
          <div ng-include src="'pages/single-page.tpl.html'"></div>
        </div>
        
        <!-- Browser Page -->
        <div ng-if="pageObj.landingPage && !pageObj.loginPage && !pageObj.registerPage" class="landing-page">
          <div ng-include src="'pages/browser.tpl.html'"></div>
        </div>
        
        <!-- Login Page -->
        <div ng-if="pageObj.loginPage" class="landing-page">
          <div ng-include src="'pages/login.tpl.html'"></div>
        </div>
        
        <!-- Register Page -->
        <div ng-if="pageObj.registerPage" class="landing-page">
          <div ng-include src="'pages/register.tpl.html'"></div>
        </div>

      </main>

    </div>

  </div>

</article>