<div class="grid-100 logo-box">
  <h1 class="logo" ng-click="pageObj.test = !pageObj.test; pageObj.ads.play();"><img src="assets/imgs/retinae-logo-white.png" alt="retinae"/></h1>
  <h3 class="page-title" ng-class="{'line-break': pageObj.longTitle}">{{pageObj.page.title}}</h3>
</div>
<div class="grid-100 text-right-mobile menu-content">
  <div class="menu-icons">
    
    <a aria-hidden="true" ng-controller="loginController as vm" ng-hide="vm.isLoggedIn" ng-click="pageObj.userLogin()" class="icon glyphicon glyphicon-user user"></a>
    <div class="dropdown" ng-controller="loginController as vm" ng-show="vm.isLoggedIn" style="padding-right:135px;top: 7px;">
      <a aria-hidden="true" href="#" class="icon glyphicon glyphicon-user user" style="top:-22px;"></a>
      <div class="dropdown-content">
        <a href="#">My Profile</a>
        <a ng-click="vm.logout()">Log out</a>
      </div>
    </div>
    <a aria-hidden="true" ng-click="pageObj.searchFunctionality()" class="icon glyphicon glyphicon-search search"></a>
    
    <a aria-hidden="true" ng-click="pageObj.clickShowTags()" class="icon glyphicon glyphicon-tag tagsIcon" ng-class="{clicked: pageObj.showTags}"></a>
  
    <a aria-hidden="true" ng-mouseenter="pageObj.mouseEnterLeave('show')" ng-click="pageObj.menuShowHide()" ng-class="{active: pageObj.showMenu}" ng-mouseleave="pageObj.mouseLeave('hide')" class="icon menuIcon glyphicon glyphicon-menu-hamburger"></a>

    <div ng-show="pageObj.showSearch && pageObj.pageId == 'landing'"class="search-wrapper">
      <input type="text" id="search" name="search" ng-model="pageObj.filtering" placeholder="Type here to filter" ng-keyup="pageObj.keyPress($event)"/>
    </div>
  
  </div>
  <div ng-init="pageObj.showMenu = false" ng-class="{active: pageObj.showMenu}" ng-mouseleave="pageObj.mouseEnterLeave('hide')" class="menu-wrapper">
    <ul class="menu clearfix">
      <li ng-repeat="itm in pageObj.menu" ng-class="{active: itm.active}" class="grid-15 tablet-grid-25 mobile-grid-50"><a ng-href="{{itm.url}}">{{itm.text}}</a></li>
    </ul>
  </div>
</div>

<div class="ov-wrapper overlays" ng-show="pageObj.ads.overlay.value">
  <div class="content ads">
    <div id="ads-player"></div>
  </div>
  <span class="overlay-close-timer" ng-show="pageObj.timer > 0">{{pageObj.timer}}s</span>
  <a href="" class="close-btn glyphicon glyphicon-remove" ng-class="{active: !(pageObj.timer > 0)}" ng-click="(pageObj.timer > 0) || pageObj.ads.overlay.hide()"></a>
</div>