<div class="col-md-5" ng-controller="loginController as vm">
  <form novalidate="novalidate" name="loginForm" ng-submit="vm.emailLogin(loginForm.$valid)">
    <div class="well well-sm">
      <h4>
        <strong class="title-auth">
          Log In / <a ng-controller="pagesController as pageObj" ng-click="pageObj.userRegister()">Register</a>
        </strong>
      </h4>
      <div class="error-message" ng-show="vm.errorLogin">
        {{ vm.errorLogin }}
      </div>
      <div class="error-message" ng-show="loginForm.email.$error.email && (!loginForm.$pristine || loginForm.$submitted)">
        The email is invalid
      </div>
      <div class="error-message" ng-show="loginForm.email.$error.required  && (!loginForm.$pristine || loginForm.$submitted)">
        The email filed is required
      </div>
      <div class="error-message" ng-show="loginForm.password.$error.required && !loginForm.email.$error.required && !loginForm.email.$error.email && (!loginForm.$pristine || loginForm.$submitted)">
        The password filed is required
      </div>
      <br>
      <div class="form-group">
        <input type="email" ng-model="vm.email" name="email" class="form-control input-color" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input type="password" ng-model="vm.password" name="password" class="form-control input-color" placeholder="Password" required="required">
      </div>
      <h4>
        <strong class="title-auth">
          Login via 
          <a ng-click="vm.twitterLogin()"><i class="fa fa-twitter-square fa-lg"></i></a>
          <a ng-click="vm.facebookLogin()"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a ng-click="vm.googleLogin()"><i class="fa fa-google-plus-square fa-lg"></i></a>
        </strong>
      </h4>
      <br>
      <button type="submit" class="btn btn-circle btn-default">Go </button>
    </div>
  </form>
</div>