<div class="col-md-5 col-md-offset-1">
  <div class="pull-left">
    <img src="../assets/imgs/retinae-logo-white.png" class="img-responsive logo-img" alt="">
  </div>
  <div class="pull-right">
    <div class="menu-icons">
      <div class="dropdown" ng-show="vm.isLoggedIn">
        <a aria-hidden="true" href="#" class="glyphicon glyphicon-user glyphiconUser"></a>
        <div class="dropdown-content">
          <a href="#">My Profile</a>
          <a ng-click="vm.logout()">Log out</a>
        </div>
      </div>
      <a aria-hidden="true" ng-controller="pagesController" ng-click="pageObj.searchFunctionality()" class="glyphicon glyphicon-search glyphiconSearch"></a>
      <a aria-hidden="true" href="#" class="glyphicon glyphicon-cog glyphiconCog"></a>
    </div>
  </div>
  <form novalidate="novalidate" name="loginForm" ng-submit="vm.emailLogin(loginForm.$valid)">
    <div class="well well-sm">
      <h4>
        <strong class="title-auth">
          Log In / <a ng-click="vm.goToRegister()">Register</a>
        </strong>
      </h4>
      <div class="error-message" ng-show="vm.errorLogin">
        {{ vm.errorLogin }}
      </div>
      <div class="error-message" ng-show="loginForm.email.$error.email && (!loginForm.$pristine || loginForm.$submitted)">
        The email is invalid
      </div>
      <div class="error-message" ng-show="loginForm.email.$error.required  && (!loginForm.$pristine || loginForm.$submitted)">
        The email filed is required
      </div>
      <div class="error-message" ng-show="loginForm.password.$error.required && !loginForm.email.$error.required && !loginForm.email.$error.email && (!loginForm.$pristine || loginForm.$submitted)">
        The password filed is required
      </div>
      <div class="form-group">
        <input type="email" ng-model="vm.email" name="email" class="form-control input-email" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input type="password" ng-model="vm.password" name="password" class="form-control input-password" placeholder="Password" required="required">
      </div>
      <h4>
        <strong class="title-auth">
          Login via 
          <a ng-click="vm.twitterLogin()"><i class="fa fa-twitter-square fa-lg"></i></a>
          <a ng-click="vm.facebookLogin()"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a ng-click="vm.googleLogin()"><i class="fa fa-google-plus-square fa-lg"></i></a>
        </strong>
      </h4>
      <br>
      <button type="submit" class="btn btn-circle btn-default">Go </button>
    </div>
  </form>
</div>