<div class="col-md-5 col-md-offset-1">
  <div class="pull-left">
    <img src="../assets/imgs/retinae-logo-white.png" class="img-responsive logo-img" alt="">
  </div>
  <div class="pull-right">
    <div class="menu-icons">
      <div class="dropdown">
        <a aria-hidden="true" href="#" class="glyphicon glyphicon-user glyphiconUser"></a>
        <div class="dropdown-content">
          <a href="#">My Profile</a>
          <a href="#">Log out</a>
        </div>
      </div>
      <a aria-hidden="true" href="#" class="glyphicon glyphicon-search glyphiconSearch"></a>
      <a aria-hidden="true" href="#" class="glyphicon glyphicon-cog glyphiconCog"></a>
    </div>
  </div>
  <form >
    <div class="well well-sm">
      <h4>
        <strong class="title-auth">
          Register
        </strong>
      </h4>
      <div class="error-message">
        Error message
      </div>
      <div class="form-group">
        <input type="text" ng-model="vm.name" class="form-control input-name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" ng-model="vm.email" class="form-control input-reg-email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" ng-model="vm.password" class="form-control input-password" placeholder="Password">
      </div>
      <h4>
        <strong class="title-auth">
          Login via 
          <a ng-click="vm.twitterLogin()"><i class="fa fa-twitter-square fa-lg"></i></a>
          <a ng-click="vm.facebookLogin()"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a ng-click="vm.googleLogin()"><i class="fa fa-google-plus-square fa-lg"></i></a>
        </strong>
      </h4>
      <br>
      <button ng-click="vm.register()" class="btn btn-circle btn-default">Go </button>
    </div>
  </form>
</div>